#
# In project's root folder
#
# Path: /.../bin/clangd
# Args:
# --compile-commands-dir=/.../compile_commands.json
# --enable-config
# --log=verbose
# --query-driver="/.../bin/clang++"
#

CompileFlags: 
  Add: [
    -IC:/builds/.../pub/inc, 
    -IC:/builds/.../pub/inc
  ]
  BuiltinHeaders: QueryDriver
  #Remove: [-W*] 
  #Compiler: clang++

